.history/autoShot_20240531021651.py
.history
screenshots
old
__pycache__
新建文件夹
test
test copy.ipynb
start.bat.lnk
test.ipynb
screenlocation.txt
center.png
tb_logs/
wandb/
lightning_logs/
*.zip
modeleb7.pth